@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/images/backgroundimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
